<!-- templates/your_app_name/email_template.html -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Form Submission</title>
</head>

<body>
    <p>You have received a new form submission:</p>

    <ul>
        <!-- ... Your existing fields ... -->
    </ul>

    <p>Click the button below to view the post:</p>
    <a href="{{ view_report_url }}"
        style="display: inline-block; padding: 10px; background-color: #4CAF50; color: #fff; text-decoration: none;">Click
        here to view</a>


    <p>Best regards,<br>Your Django App</p>
</body>

</html>