{% extends "home/base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
{% load static %}

<style>
  .error-text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .edit-btn {
    width: 100%;
  }

  .modal-backdrop {
    background-color: transparent;
    z-index: -1;

  }



  html,
  body {
    zoom: 0.9 !important;
  }



  .submit-Btn {
    border-radius: 10px !important;
    background: #0f7abb !important;
    border-color: #0f7abb !important;
    background-color: #0f7abb;
    padding: 45px;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 20px;
    border: 1px solid #0f7abb;
    border-radius: 7px;
    color: #fff;
    font-size: 25px !important;
    font-family: inherit !important;
    font-weight: 500;
    width: 250px;
    font-weight: bold !important;
  }

  .clear-Btn {
    width: 50% !important;
    border-radius: 10px !important;
    background: #0f7abb !important;
    border-color: #0f7abb !important;
    border-radius: 10px !important;
    background: #0f7abb !important;
    border-color: #0f7abb !important;
    background-color: #0f7abb;
    padding: 45px;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 20px;
    border: 1px solid #0f7abb;
    border-radius: 7px;
    color: #fff;
    font-size: 25px !important;
    font-family: inherit !important;
    font-weight: 500;
    width: 250px;
    font-weight: bold !important;
  }


  #blockContent {
    padding-top: 0px !important;
  }


  /* for multiple images uploader */

  .form-row {
    margin-top: 60px;
  }

  .upload__box {}

  .upload__inputfile {
    width: .1px;
    height: .1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }

  .invalid {
    border: 2px solid #ff0000 !important;
  }

  .upload__btn {
    display: inline-block;
    font-weight: bold;
    color: #fff;
    text-align: center;
    min-width: 116px;
    padding: 15px 25px;
    transition: all .3s ease;
    cursor: pointer;
    border: 2px solid;
    background-color: #6c757d;
    border-color: #4045ba;
    border-radius: 10px;
    line-height: 26px;
    font-size: 81px !important;
  }

  .upload__btn:hover {
    background-color: unset;
    color: #4045ba;
    transition: all .3s ease;
  }

  .upload__btn-box {
    margin-bottom: 10px;
  }

  /* .upload__img-wrap {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
    gap: 100px;
  } */

  .upload__img-box {
    width: 200px;
    padding: 0 10px;
    margin-bottom: 12px;
    margin: 10px;
  }

  .upload__img-close {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 10px;
    right: 10px;
    text-align: center;
    line-height: 24px;
    z-index: 1;
    cursor: pointer;
    color: white;
    font-weight: bold;
  }

  .img-bg {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    padding-bottom: 100%;
  }


  /* for signature box */
  /* .flex-row {
    display: flex;
} */
  .wrapper {
    border-right: 0;
  }

  canvas#signature-pad {
    width: 360px;
    height: 100%;
    cursor: hand;
  }

  @media screen and (max-width:616px) {
    canvas#signature-pad {
      /* width: 360px !important; */
      height: 100%;
      cursor: hand;
    }

    .clear-Btn {
      width: 100% !important;
      border-radius: 19px !important;

    }


  }


  .form-control {
    height: auto !important;
  }


  /*  custom styling for boxes */
  input[type="text"],
  input[type="time"],
  input[type="date"],
  textarea,
  canvas,
  input[type="datetime-local"] {
    background: #f6f6f6 !important;
    border-radius: 10px !important;
    color: black !important;
    font-family: Verdana !important;
    padding: 15px 15px;
    border: solid 1px #dcdcdc;
    border-radius: 8px;
    padding: 12px 15px;
  }


  label {
    /* padding-left: 10px !important; */
    font-size: 20px;
    font-weight: bold;
    color: black;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 4px;
  }

  /*  */
  @media screen and (min-width:1180px) {
    #UserForm {
      padding: 0px 250px !important;
    }

    /* input[type="text"],
    input[type="time"],
    input[type="date"],
    canvas,
    input[type="datetime-local"] {
      width: 90% !important;
    } */
  }

  @media screen and (min-width:900px) {
    #UserForm {
      padding: 0px 200px !important;
    }

    input[type="text"],
    input[type="time"],
    input[type="date"],
    textarea,
    canvas,
    input[type="datetime-local"] {
      font-size: 18px;
    }
  }

  @media screen and (max-width:900px) {
    #UserForm {
      padding: 0px 180px !important;
    }

    input[type="text"],
    input[type="time"],
    input[type="date"],
    textarea,
    canvas,
    input[type="datetime-local"] {
      font-size: 1.8vw;
    }
  }

  @media screen and (max-width:768px) {
    #UserForm {
      padding: 0px 100px !important;
    }

    input[type="text"],
    input[type="time"],
    input[type="date"],
    textarea,
    canvas,
    input[type="datetime-local"] {
      font-size: inherit !important;
    }

  }

  @media screen and (max-width:500px) {
    #UserForm {
      padding: 0px 20px !important;
    }

    input[type="text"],
    input[type="time"],
    input[type="date"],
    textarea,
    canvas,
    input[type="datetime-local"] {
      font-size: inherit !important;
    }
  }

  @media screen and (min-width:700px) and (max-width:835px) {
    .clear-Btn {
      width: 100% !important;
    }
</style>

{% if messages %}
<div class="row p-5">
  <div class="alert col-12 mx-auto col-sm-6" style="background-color: #198754;border-radius: 20px;" role="alert">
    {% for message in messages %}

    <p class="text-white text-center" style="font-size: 20px;color:white;margin-top: 5px;">
      {{ message }}
    </p>
    {% endfor %}
  </div>
  <div>
    {% endif %}

    <div class="custom-alert d-none" role="alert">

      <div class="d-flex justify-content-center">
        <div class="col-4" style="background-color: #dee2e6;border-radius: 10px;padding: 10px;">
          <h3 class="text-center fw-bold error-text">INVALID</h3>
          <h3 class="text-center fw-bold error-text" style="color: red;">DATE/TIME</h3>
          <h3 class="text-center fw-bold error-text">PLEASE TRY AGAIN</h3>
        </div>
      </div>
    </div>

    <form class="mainForm" id="UserForm" method="post" enctype="multipart/form-data">

      {% csrf_token %}


      <!-- ? Row - 1 -->
      <div class="row mt-5 justify-content-between">
        <div class="col-md-4">
          <div class="form-group">
            <label for="">Date:</label>
            <input required type="date" name="date" class="form-control form-control-lg" />
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <label for="">WO/ID:</label>
            <input required type="text" name="ID" class="form-control form-control-lg" placeholder="WO/ID" />
          </div>
        </div>
      </div>


      <!-- ? Row - 2 -->
      <div class="row form-row justify-content-between">
        <div class="col-md-4">
          <div class="form-group">
            <label for="">Customer:</label>
            <input required type="text" name="customer" class="form-control form-control-lg"
              placeholder="Name, Location, Site #" />
          </div>
        </div>


        <div class="col-md-4">
          <div class="form-group">
            <label for="">Job:</label>
            <input required type="text" name="job" class="form-control form-control-lg" placeholder="Job" />
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <label for="">Contractor/Tech:</label>
            <input required type="text" name="contractor" class="form-control form-control-lg"
              placeholder="Contractor/Tech:" />
          </div>
        </div>
      </div>


      <!-- ? Row - 3 -->
      <div class="row form-row justify-content-between">
        <div class="col-md-4">
          <div class="form-group">
            <label for="">Clock In:</label>
            <input required type="datetime-local" name="timeIn" class="form-control form-control-lg" placeholder=""
              onchange="calculateTimeDifference()" />
          </div>
        </div>


        <div class="col-md-4">
          <div class="form-group">
            <label for="">Clock Out:</label>
            <input required type="datetime-local" name="timeOut" class="form-control form-control-lg" placeholder=""
              onchange="calculateTimeDifference()" />
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <label for="">Total Hours On-Site:</label>
            <input required type="text" name="totalTime" class="form-control form-control-lg" placeholder="" readonly />
          </div>
        </div>
      </div>


      <!-- ? Row - 4 -->
      <div class="row form-row justify-content-between">

        <div class="col-12">
          <div class="form-group">
            <label for="">Job Description:</label>
            <textarea style="height: 180px !important;" required name="jobDescription"
              class="form-control form-control-lg" id="jobDescription" cols="30" rows="10"
              placeholder="Enter Your Job Description Here..."></textarea>
            <div class="d-flex justify-content-end py-3">
              <span class="text-end">From 1 To 10,000 Characters</span>
            </div>
          </div>
        </div>

      </div>

      <!-- ? Row - 5 -->
      <div class="upload__box">
        <div class="upload__btn-box">
          <label class="upload__btn ">
            <i class="fa-solid fa-cloud-arrow-up"></i><br><br>
            <p style="font-size: 20px;">UPLOAD IMAGE</p>
            <input required type="file" multiple="" data-max_length="20" class="upload__inputfile"
              name="uploaded_images" id="fileInput" />
          </label>
        </div>
        <div class="upload__img-wrap row"></div>

      </div>

      <div class="d-flex justify-content-center py-4">
        <input type="hidden" value="notClicked" id="tracker">
        <button type="button" onclick="ResetImages()" class="btn btn-lg p-3 btn-primary text-white fw-bold">UPLOAD
          IMAGES</button>
      </div>


      <!-- ? Row - 6 -->
      <div class="row form-row justify-content-between">
        <div class="col-12">
          <div class="form-group">
            <label for="">What Was Completed:</label>
            <textarea style="height: 180px !important;" required name="whatWasCompleted"
              class="form-control form-control-lg" id="whatWasCompleted" cols="30" rows="10"
              placeholder="What Was Completed"></textarea>
            <div class="d-flex justify-content-end py-3">
              <span class="text-end">From 1 To 10,000 Characters</span>
            </div>
          </div>
        </div>
      </div>


      <!-- ? Row - 7 -->
      <div class="row form-row justify-content-between">
        <div class="col-12">
          <div class="form-group">
            <label for="">Still Needs Completed:</label>
            <textarea style="height: 180px !important;" required name="stillNeedsCompleted"
              class="form-control form-control-lg" id="stillNeedsCompleted" cols="30" rows="10"
              placeholder="Still Needs Completed"></textarea>
            <div class="d-flex justify-content-end py-3">
              <span class="text-end">From 1 To 10,000 Characters</span>
            </div>
          </div>
        </div>
      </div>

      <!-- ? Row - 8 -->
      <div class="row form-row justify-content-between">
        <div class="col-12">
          <div class="form-group">
            <label for="">Issues/Notes On Site:</label>
            <textarea style="height: 180px !important;" required name="notes" class="form-control form-control-lg"
              id="notes" cols="30" rows="10" placeholder="Issues/Notes On Site"></textarea>
            <div class="d-flex justify-content-end py-3">
              <span class="text-end">From 1 To 10,000 Characters</span>
            </div>
          </div>
        </div>
      </div>


      <!-- ? Row - 9 -->
      <input type="file" multiple name="data_files" id="data_files" class="d-none">

      <div class="d-none loadingContainer">
        <div class="col-6 mx-auto">
          <div class="d-flex mx-auto spinner-border text-primary" role="status">
            <span class="sr-only">Loading...</span>
          </div>
          <br>
          <p class="text-danger text-center fw-bold">Please dont close your browser untill form is submitted</p>
        </div>

      </div>



      <!-- ? Final Row Submit Button -->
      <div class="row mt-5 py-4">
        <div class="col-md-4 mx-auto d-flex justify-content-center">
          <input id="submitBtn" required type="submit"
            class="submit-Btn btn btn-primary btn-lg btn-get-started fs-1 p-3" value="Submit">

        </div>
      </div>


    </form>


    <!-- Button trigger modal -->
    <!-- ModalBOX -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Edit your Image</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

            <input type="text" id="customerInput" placeholder="Customer" class="form-control"><br>
            <input type="text" id="dateInput" placeholder="Date" class="form-control"><br>
            <input type="text" id="customTextInput" placeholder="Custom Text" class="form-control"><br>
            <canvas id="canvas" style="margin-top: 20px;" class="d-none" style="display: none;"></canvas><br>
            <img src="" id="outputImage" alt="">
          </div>
          <div class="modal-footer">
            <input type="hidden" value="NotClicked" id="viewChangesTracker" />
            <button type="button" class="btn btn-lg btn-primary saveBtn" id="viewBtn" aria-label="Close">View
              Changes</button>
            <button type="button" class="btn btn-lg btn-success text-dark saveBtn" data-dismiss="modal" id="saveBtn"
              aria-label="Close">Save
              Changes</button>
            <button type="button" class="btn btn-lg btn-success text-dark" id="downloadBtn"
              aria-label="Close">Download</button>

            <button id="increaseFontSize">Increase Font Size</button>
            <button id="decreaseFontSize">Decrease Font Size</button>
          </div>
        </div>
      </div>
    </div>






    <br><br>


    {% endblock %}

    {% block Script %}

    <script>
      document.getElementById('increaseFontSize').addEventListener('click', () => {
        const canvas = document.getElementById('canvas');
        const ctx = canvas.getContext('2d');
        const fontSize = parseInt(ctx.font.split(' ')[1]); // Get current font size
        ctx.font = `bold ${fontSize + 1}px Arial`; // Increase font size by 1
        drawText(); // Redraw text with new font size
      });

      document.getElementById('decreaseFontSize').addEventListener('click', () => {
        const canvas = document.getElementById('canvas');
        const ctx = canvas.getContext('2d');
        const fontSize = parseInt(ctx.font.split(' ')[1]); // Get current font size
        ctx.font = `bold ${fontSize - 1}px Arial`; // Decrease font size by 1
        drawText(); // Redraw text with new font size
      });
      document.getElementById('increaseBoxSize').addEventListener('click', () => {
        const canvas = document.getElementById('canvas');
        const ctx = canvas.getContext('2d');
        boxHeight += 10; // Increase box height by 10
        drawText(); // Redraw text with new box height
      });

      document.getElementById('decreaseBoxSize').addEventListener('click', () => {
        const canvas = document.getElementById('canvas');
        const ctx = canvas.getContext('2d');
        if (boxHeight > 10) { // Ensure box height doesn't become negative
          boxHeight -= 10; // Decrease box height by 10
          drawText(); // Redraw text with new box height
        }
      });

      $(document).ready(function () {
        $('#exampleModal').on('hidden.bs.modal', function () {
          $('body').css('overflow', 'auto');
        });


        $("#downloadBtn").click(function () {
          const val = $("#viewChangesTracker").val()
          console.log(val)
          if (val == "NotClicked") {
            alert("Please Click View Changes button first !")
            event.preventDefault()
            event.stopPropagation();
            return
          }

          // Get the base64 data of the image
          var imageData = $("#outputImage").attr("src");
          // Create a temporary anchor element
          var a = $("<a>").attr("href", imageData).attr("download", "image.png").appendTo("body");
          // Trigger a click event on the anchor element
          a[0].click();
          // Remove the temporary anchor element
          a.remove();
        });


      });
    </script>
    <script>

      function ResetImages() {
        $("#tracker").val("clicked")
        // Find all elements with class .img-bg and extract background image URLs
        const imgElements = document.querySelectorAll('.img-bg');
        const urls = Array.from(imgElements).map(imgElement => {
          const backgroundImageStyle = window.getComputedStyle(imgElement).backgroundImage;
          return backgroundImageStyle.substring(5, backgroundImageStyle.length - 2);
        });

        // Clear existing files in the input element with the name data_files
        const dataFilesInput = document.getElementById("data_files");
        dataFilesInput.value = ''; // Clear the value to clear existing files

        // Create a new FileList object
        const fileList = new DataTransfer();

        // Add files based on the extracted URLs to the FileList object
        urls.forEach(url => {
          fetch(url)
            .then(response => response.blob())
            .then(blob => {
              // Create the File object with the correct MIME type (JPEG)
              let filename = 'img_' + Math.random().toString(36).substring(7) + '.jpg';
              const file = new File([blob], filename, { type: "image/jpeg", lastModified: new Date().getTime() });

              // Add the file to the FileList object
              fileList.items.add(file);

              // Update the input element with the new files
              dataFilesInput.files = fileList.files;
            })
            .catch(error => {
              console.error('Error fetching image:', error);
            });
        });
      }


      // these are properties of image showing in form
      var backgroundImage = null;
      var backgroundImageSrc = null;

      function openModal(button) {
        $("#viewChangesTracker").val("NotClicked")

        // getting customer and date  
        const customer = $("input[name='customer']").val()
        const date = $("input[name='date']").val()
        $("#customTextInput").val("")


        $("#customerInput").val(customer)
        $("#dateInput").val(date)

        // Get the parent div of the button
        const parentDiv = button.closest('.upload__img-box');

        // Set the background image using data from the parent div
        backgroundImage = parentDiv.querySelector('.img-bg');
        const backgroundImageStyle = window.getComputedStyle(parentDiv.querySelector('.img-bg')).backgroundImage;
        backgroundImageSrc = backgroundImageStyle.substring(5, backgroundImageStyle.length - 2);

        handleImage()

        // Open the modal
        $('#exampleModal').modal('show');
        /* $('#exampleModal').modal('hide');
        $('body').removeClass('modal-open');
        $('.modal-backdrop').remove(); */

      }

      /* document.getElementById('imageInput').addEventListener('change', handleImage, false); */
      /* document.getElementById('customerInput').addEventListener('input', drawText, false);
      document.getElementById('dateInput').addEventListener('input', drawText, false);
      document.getElementById('customTextInput').addEventListener('input', drawText, false); */
      document.getElementById('saveBtn').addEventListener('click', (event) => {
        const val = $("#viewChangesTracker").val()
        console.log(val)
        if (val == "NotClicked") {
          alert("Please Click View Changes button first !")
          event.preventDefault()
          event.stopPropagation();
          return
        }
        drawText()
      }, false);

      document.getElementById('viewBtn').addEventListener('click', () => {
        $("#viewChangesTracker").val("clicked")
        drawText()
      }, false);


      /* const saveButtons = document.querySelectorAll('.saveBtn');
      saveButtons.forEach(button => {
        button.addEventListener('click', drawText, false);
      });


 */



      let imgSrc = '';
      function handleImage() {
        const img = new Image();
        img.onload = function () {
          const canvas = document.getElementById('canvas');
          canvas.willReadFrequently = true;
          const ctx = canvas.getContext('2d');
          canvas.width = img.width;
          canvas.height = img.height;
          ctx.drawImage(img, 0, 0);
          imgSrc = img.src;
          ctx.font = `18px Arial`;
          drawText();
        }
        img.src = backgroundImageSrc;

      }

      /* function handleImage(e) {
        const reader = new FileReader();
        reader.onload = function (event) {
          const img = new Image();
          img.onload = function () {
            const canvas = document.getElementById('canvas');
            canvas.willReadFrequently = true;
            const ctx = canvas.getContext('2d');
            canvas.width = img.width;
            canvas.height = img.height;
            ctx.drawImage(img, 0, 0);
            imgSrc = img.src;
            drawText();
          }
          img.src = event.target.result;
        }
        reader.readAsDataURL(e.target.files[0]);
      } */

      function getCurrentFontSize(canvas) {
        const context = canvas.getContext('2d');
        const currentFont = context.font;

        // Parse font size from the font string
        const fontSizeRegex = /(\d+)px/;
        const matches = fontSizeRegex.exec(currentFont);

        if (matches && matches.length > 1) {
          return parseInt(matches[1]);
        } else {
          return null; // Unable to parse font size
        }
      }


      function autoResizeText(canvas, text, customertext, maxWidth, defaultFontSize) {
        const context = canvas.getContext('2d');
        let fontSize = defaultFontSize;

        // Set initial font size
        context.font = `${fontSize}px Arial`;

        // Measure text width
        let textWidth = context.measureText(text).width;
        let customertextwidth = context.measureText(customertext).width;


        // Adjust font size if text width exceeds max width
        while ((textWidth + 15 > maxWidth || customertextwidth + 15 > maxWidth - 10) && fontSize > 1) {
          fontSize -= 5;
          context.font = `${fontSize}px Arial`;
          textWidth = context.measureText(text).width;
          customertextwidth = context.measureText(customertext).width;
        }

        return fontSize;
      }


      function drawText() {
        if (!imgSrc) return;

        const canvas = document.getElementById('canvas');
        canvas.willReadFrequently = true;
        const ctx = canvas.getContext('2d');
        const customer = document.getElementById('customerInput').value;
        const date = document.getElementById('dateInput').value;
        const customText = document.getElementById('customTextInput').value;

        const fontSize = autoResizeText(canvas, customText, `${customer} - ${date}`, ctx.canvas.width, getCurrentFontSize(canvas));
        const font_size = fontSize;
        console.log(font_size)
        ctx.font = 'bold ' + font_size + 'px Arial'; // Set font weight to bold
        ctx.fillStyle = 'black'; // Set fill style to black

        const customtextWidth = ctx.measureText(customText).width;
        const customtextHeight = font_size;

        const firstLineTextWidth = ctx.measureText(`${customer} - ${date}`).width;
        const firstLineTextHight = font_size;

        const boxWidth = ctx.canvas.width;
        const boxHeight = 63;

        // Clear canvas
        ctx.clearRect(0, 0, canvas.width, canvas.height);

        // Draw image
        const img = new Image();
        img.onload = function () {
          const bv = this.height * 0.65;
          console.log(bv)
          ctx.drawImage(img, 0, 0);

          // Draw grey box
          ctx.fillStyle = 'rgba(128, 128, 128, 1)';
          ctx.fillRect(0, 0, boxWidth, boxHeight);

          // Draw text on the image
          ctx.fillStyle = 'black';
          /* console.log(bv * 0.5)
          ctx.font = 'bold ' + bv * 0.3 + 'px Arial'; // Set font weight to bold */
          ctx.fillText(`${customer} - ${date}`, (ctx.canvas.width - firstLineTextWidth) / 2, 20);
          ctx.fillText(customText, (ctx.canvas.width - customtextWidth) / 2, 45);


          // adding url to orignal image
          let canvasNew = document.getElementById('canvas')
          const dataURL = canvasNew.toDataURL();
          canvasNew.willReadFrequently = true;

          outputImage.src = dataURL;
          backgroundImage.style.backgroundImage = `url(${dataURL})`;
        }
        img.src = imgSrc;


      }
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/signature_pad/1.3.5/signature_pad.min.js"
      integrity="sha512-kw/nRM/BMR2XGArXnOoxKOO5VBHLdITAW00aG8qK4zBzcLVZ4nzg7/oYCaoiwc8U9zrnsO9UHqpyljJ8+iqYiQ=="
      crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
      window.onload = function () {
        var canvas = document.getElementById("signature-pad");
        var clearButton = document.getElementById("clear");
        var signaturePad = new SignaturePad(canvas, {
          backgroundColor: 'rgb(250,250,250)'
        });

        clearButton.addEventListener('click', function () {
          signaturePad.clear();
        });

        // Prevent scrolling on touch devices
        document.body.addEventListener("touchstart", function (e) {
          if (e.target === canvas) {
            e.preventDefault();
          }
        }, { passive: false });

        // Handle touch events for drawing
        canvas.addEventListener("touchstart", onTouchStart, { passive: false });
        canvas.addEventListener("touchmove", onTouchMove, { passive: false });

        function onTouchStart(e) {
          var touch = e.touches[0];
          var mouseEvent = new MouseEvent("mousedown", {
            clientX: touch.clientX,
            clientY: touch.clientY
          });
          canvas.dispatchEvent(mouseEvent);
        }

        function onTouchMove(e) {
          var touch = e.touches[0];
          var mouseEvent = new MouseEvent("mousemove", {
            clientX: touch.clientX,
            clientY: touch.clientY
          });
          canvas.dispatchEvent(mouseEvent);
        }
      };
    </script>


    <script>
      window.addEventListener('load', function () {

        var viewportWidth = window.innerWidth || document.documentElement.clientWidth;

        // Check if viewport width is less than 616px (considered as mobile)
        if (viewportWidth < 616) {
          var textareaWidth = document.querySelector('textarea').clientWidth;
          var signaturePad = document.getElementById('signature-pad');
          signaturePad.style.setProperty('width', `${textareaWidth}px`, 'important');
        }

        /* var canvas = document.getElementById("signature-pad"); */
        /* var clearButton = document.getElementById("clear"); */
        var form = document.getElementById("UserForm");
        var signatureInput = document.createElement("input");
        signatureInput.type = "hidden";
        signatureInput.name = "signature_data";  // Use this name in your Django view
        form.appendChild(signatureInput);

        /* var signaturePad = new SignaturePad(canvas, {
          backgroundColor: 'rgb(250,250,250)'
        });
    
        clearButton.addEventListener('click', function () {
          signaturePad.clear();
        }); */

        var canvas = document.getElementById("signature-pad");
        var clearButton = document.getElementById("clear");
        var signaturePad = new SignaturePad(canvas, {
          backgroundColor: 'rgb(250,250,250)'
        });

        clearButton.addEventListener('click', function () {
          signaturePad.clear();
        });

        // Prevent scrolling on touch devices
        document.body.addEventListener("touchstart", function (e) {
          if (e.target === canvas) {
            e.preventDefault();
          }
        }, { passive: false });

        // Handle touch events for drawing
        canvas.addEventListener("touchstart", onTouchStart, { passive: false });
        canvas.addEventListener("touchmove", onTouchMove, { passive: false });

        function onTouchStart(e) {
          var touch = e.touches[0];
          var mouseEvent = new MouseEvent("mousedown", {
            clientX: touch.clientX,
            clientY: touch.clientY
          });
          canvas.dispatchEvent(mouseEvent);
        }

        function onTouchMove(e) {
          var touch = e.touches[0];
          var mouseEvent = new MouseEvent("mousemove", {
            clientX: touch.clientX,
            clientY: touch.clientY
          });
          canvas.dispatchEvent(mouseEvent);
        }


        form.addEventListener("submit", function () {
          $(".loadingContainer").removeClass("d-none");
          var signatureData = signaturePad.toDataURL();
          signatureInput.value = signatureData;
          // go to top
          document.body.scrollTop = 0; // For Safari
          document.documentElement.scrollTop = 0;

          setTimeout(function () {
            location.reload();
          }, 5000);

        });


      });
    </script>


    <script>


      function formatTime(hoursDiff) {
        // Ensure the time difference is positive
        const absHoursDiff = Math.abs(hoursDiff);

        // Extract the whole hours and minutes
        const hours = Math.floor(absHoursDiff);
        const minutes = Math.round((absHoursDiff % 1) * 60);

        // Format the result as "h:mm"
        const formattedTime = `${hours}:${minutes.toString().padStart(2, '0')}`;

        return formattedTime;
      }

      function calculateTimeDifference() {
        const alertBox = document.querySelector(".custom-alert")
        alertBox.classList.add("d-none")
        const dateTimeIn = document.querySelector("input[name=timeIn]").value;
        const dateTimeOut = document.querySelector("input[name=timeOut]").value;

        // Convert datetime strings to Date objects
        const dateInObject = new Date(dateTimeIn);
        const dateOutObject = new Date(dateTimeOut);

        // Calculate the time difference in milliseconds
        const timeDiff = dateOutObject - dateInObject;

        // Determine if the time difference is positive or negative
        const isPositive = timeDiff >= 0;

        // Convert milliseconds to hours
        const hoursDiff = isPositive ? timeDiff / (1000 * 60 * 60) : -timeDiff / (1000 * 60 * 60);

        // Format the hours difference
        const formattedTimeDiff = formatTime(hoursDiff);

        // Show alert if the value goes negative
        if (!isPositive) {
          alertBox.classList.remove("d-none")

        }
        // Update the time difference input field
        document.querySelector("input[name=totalTime]").value = formattedTimeDiff;
      }



    </script>




    <!-- script for multiple images uploading -->
    <script>


      $(document).ready(function () {
        ImgUpload();
      });

      function ImgUpload() {
        var imgWrap = "";
        var imgArray = [];
        var existingFiles = [];


        $('.upload__inputfile').each(function () {
          $(this).on('change', function (e) {


            var files = e.target.files;

            if (files) {
              var dataFilesInput = document.getElementById("data_files");

              // Append new files to existing files
              for (var i = 0; i < files.length; i++) {
                existingFiles.push(files[i]);
              }

              // Create a new FileList object
              var fileList = new DataTransfer();

              // Append existing files to the fileList
              for (var j = 0; j < existingFiles.length; j++) {
                fileList.items.add(existingFiles[j]);
              }

              // Set the fileList to the files property of the input element
              dataFilesInput.files = fileList.files;



              // Hide the file input field
              document.getElementById("fileInput").style.display = "none";

              // Create a new input field for uploading additional images
              var newInput = document.createElement("input");
              newInput.type = "file";
              newInput.multiple = true;
              newInput.className = "upload__inputfile";
              newInput.name = "uploaded_images";
              document.querySelector(".upload__btn").appendChild(newInput);
            }

            imgWrap = $(this).closest('.upload__box').find('.upload__img-wrap');
            var maxLength = $(this).attr('data-max_length');

            var files = e.target.files;
            var filesArr = Array.prototype.slice.call(files);
            var iterator = 0;
            filesArr.forEach(function (f, index) {

              if (!f.type.match('image.*')) {
                return;
              }

              if (imgArray.length > maxLength) {
                return false
              } else {
                var len = 0;
                for (var i = 0; i < imgArray.length; i++) {
                  if (imgArray[i] !== undefined) {
                    len++;
                  }
                }
                if (len > maxLength) {
                  return false;
                } else {
                  imgArray.push(f);

                  var reader = new FileReader();
                  reader.onload = function (e) {
                    var html = `<div class='upload__img-box'><div style='background-image: url("${e.target.result}")' data-number='${$(".upload__img-close").length}' data-file='${f.name}' class='img-bg'><div class='upload__img-close'>x</div></div><br><button type="button" class="btn btn-primary edit-btn" data-toggle="modal" data-target="#exampleModal"  onclick="openModal(this)">
                Edit
              </button><br></div>`;
                    imgWrap.append(html);
                    iterator++;
                  }
                  reader.readAsDataURL(f);
                }
              }
            });
          });
        });

        $('body').on('click', ".upload__img-close", function (e) {
          var file = $(this).parent().data("file");
          for (var i = 0; i < imgArray.length; i++) {
            if (imgArray[i].name === file) {
              imgArray.splice(i, 1);
              break;
            }
          }
          $(this).parent().parent().remove();
        });
      }

    </script>




    <script>

      document.addEventListener("DOMContentLoaded", function () {
        const user = "{{request.user}}"
        if (user == "AnonymousUser") {
          var inputElements = document.querySelectorAll('input');
          var textareaElements = document.querySelectorAll('textarea');
          function handleInputClick() {
            window.location.href = '/login';
          }
          textareaElements.forEach(function (input) {
            input.addEventListener('click', handleInputClick);
          });
          inputElements.forEach(function (input) {
            input.addEventListener('click', handleInputClick);
          });
        }




        var submitBtn = document.getElementById("submitBtn");

        submitBtn.addEventListener("click", function () {
          var tracker = $("#tracker").val()
          console.log(tracker)

          if (tracker == "notClicked") {
            event.preventDefault();
            alert("Please Click on Upload Images Button before Submitting form !")
            return false;
          }

          const alertBox = document.querySelector(".custom-alert");
          if (!(alertBox.classList.contains("d-none"))) {
            alert("Please Enter Valid Clock in(Must be in Past) & Clock Out(Must be in Future)!")

            var formControls = document.querySelectorAll('.form-control');
            formControls.forEach(function (control) {
              if (!control.checkValidity()) {
                control.style.backgroundColor = "#ff0000!important;";
                control.classList.add("invalid");
              }
            });

          }


          var formControls = document.querySelectorAll('.form-control');
          formControls.forEach(function (control) {
            if (!control.checkValidity()) {
              control.style.backgroundColor = "#ff0000!important;";
              control.classList.add("invalid");
            }
          });

        });



        $('.form-control').on('input', function () {
          if (!this.checkValidity()) {
            $(this).addClass('invalid');
          } else {
            $(this).removeClass('invalid');
          }
        });




      });



    </script>



    {% endblock %}




    <!--  -->