{% extends "home/base.html" %}
{% block title %}User Profile{% endblock %}
{% block content %}
{% load static %}

<link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet" />

<style>
    /* .logoContainer {
        display: none;
    } */


    th {
        font-size: 20px;
    }

    td {
        font-size: 18px;
    }
</style>


{% if message %}
<div class="alert alert-info" role="alert">
    {{message}}
</div>
{% endif %}

<br>
<div class="container">
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            </thead>
            <tbody>

                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                    <th scope="row"
                        class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white fw-bold">
                        User
                    </th>
                    <td class="px-6 py-4 text-right fw-bold">
                        <a href="#!"
                            class="font-medium text-blue-600 dark:text-blue-500 hover:underline fw-bold">Action</a>
                    </td>
                </tr>

                {% for user in users %}
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        {{user}}
                    </th>
                    <td class="px-6 py-4 text-right">
                        <a href="http://127.0.0.1:8000/admin/home/formdata/?q={{user}}"
                            class="font-medium text-blue-600 dark:text-blue-500 hover:underline">View Jobs</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


{% endblock %}

{% block Script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>

{% endblock %}

<!-- signup.html -->
<html>


<!--  -->